@use "../../mixins/mixins.scss";
.form_reg_container {
    width: 1600px;
    justify-self: center;
    @include mixins.align-justify(center, space-around);
    
    form {
        height: 560px;
        width: 400px;
        background-color: white;
        @include mixins.direction-justify(column, space-around);
        align-items: center;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);

        h2 {
            padding-top: 40px;
            text-align: center;
            font-family: "Inter", "Roboto";
            font-weight: 600;
            font-size: 40px;
            color: black;
            background-color: white;
        }
        label {
            width: 300px;
            font-family: "Inter", "Roboto";
            font-weight: 400;
            font-size: 20px;
            color: black;
            background-color: white;
        }
        input {
            height: 40px;
            width: 300px;
            border-radius: 10px;
            border: 1px solid gray;
            font-size: 18px;
            padding-left: 10px;
            background-color: white;

            &:focus {
                outline: none;
                box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
            }
        }
        button {
            height: 50px;
            width: 300px;
            border-radius: 10px;
            border: none;
            background-color: rgb(60, 165, 60);
            color: white;
            font-size: 20px;
            font-family: "Inter", "Roboto";
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;

            &:hover {
                box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
            }
        }
        p {
            font-family: "Inter", "Roboto";
            font-weight: 400;
            font-size: 16px;
            color: black;
            background-color: white;
            text-align: center;

            strong {
                cursor: pointer;
                background-color: white;
            }
            a {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
.form_container__content__field {
    background-color: white;
    @include mixins.direction-justify(column, space-around);
    height: 80px;

    div {
        background-color: white;
        display: flex;
        align-items: center;
        gap: 9px;

        &:focus {
            outline: none;
            box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
        }
    }
}
.eye {
    background-color: white;
}
.form_container__content__button {
    background-color: white;
    @include mixins.direction-justify(column, space-around);
    height: 120px;
}
.form_container__content {
    background-color: white;
    @include mixins.direction-justify(column, space-between);
    height: 480px;
}
.error {
    font-family: "Inter", "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: black;
    background-color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}